body{
    font-family: 'Roboto', sans-serif;
}
/* ========================================
            Common css
=======================================*/
section{
    margin-bottom: 100px;
}
p{
    text-align: justify;
}



/* ========================================
            Header/banner area css
=======================================*/
.banner_image{
    width: 100%;
    height: 600px;
    background-image: url(images/donation5.jpg);
    background-repeat: no-repeat;
    background-size: cover;  
}
.hero_text{
    color:white;
    text-align: center;
    padding-top: 150px;
}
#hero_title{
    font-size: 50px;
    font-weight: bold;
}

/* ========================================
            Donate today area css
=======================================*/
.donate_details{
    text-align: center;
}
.donate_amount{
    display: flex;
    margin-left: 200px;
}
.donate_tk{
    width: 150px;
    height: 120px;
    background-color:rgba(164, 158, 158, 0.051);
    margin:10px;
    text-align: center;
    padding-top: 20px;
    border-radius: 5px;

}
#donate_money{
    border: 2px solid tomato;
    color: tomato;
    background-color: rgba(255, 99, 71, 0.165);
}
.input_field{
    text-align: center;
   
}
.input_field input{
    width: 400px;
    height: 50px;
    background-color: rgba(128, 128, 128, 0.081);
    border: none;
    margin-bottom: 20px;
    font-size: 20px;
    
    

}
.link_button{
    color: white;
    background-color: tomato;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    

}


/* ========================================
        Our donate plan area css
=======================================*/
.donate_plan{
    text-align: center;

}

.donate_packages{
    display: flex;
    margin-left:30px;

}
.donate_package{
    width: 350px;
    height: 200px;
    padding:30px;
    margin: 10px;
    border-radius: 5px;
    
}
#package_one{
    background-color:  rgba(79, 157, 166, 0.1);
}
#package_two{
background-color: rgba(255, 89, 89, 0.1);;
}
#package_three{
background-color: rgba(245, 186, 108, 0.402);
}

/* ========================================
            Blogs area css
=======================================*/
.donate_blogs{
    display: flex;
    margin-left: 100px;

}
.blog{
    width: 45%;
    margin: 20px;
}
.blog img{
    width: 100%;
}



/* ========================================
            affected area css
=======================================*/
.affected{
    text-align: center;
}
.affected_areas{
    display: flex;
}
.affected_area{
    width: 30%;
    border: 1px solid gray;
    margin: 10px;
    padding: 10px;
    box-shadow: 5px 5px 20px gray;
    border: none;
}
.affected_area img{
    width: 400px;
    height: 300px;
}



/* ========================================
        Get my update area css
=======================================*/
.update_area{
    text-align: center;
}
.updte_input{
    width: 800px;
    height: 200px;
    background-color: bisque;
    margin-left: 300px;

}
.updte_input input{
    background-color:#D9D9D9;
    height: 35px;
    border: none;

}
.input{
    padding-top: 100px;
}



/* ========================================
            Footer area css
=======================================*/
footer{
    text-align: center;
    height:200px;
    color:white;
    background-color: black;
    padding-top: 40px;

}
#footer_title{
    color:blue;
    font-weight: bold;
    font-family: 'Lobster';
    
}